<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621011602853-c4p3uv1dkonhr1aorgb0pnb7sksd7ppt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621011602853-c4p3uv1dkonhr1aorgb0pnb7sksd7ppt</string>
	<key>API_KEY</key>
	<string>AIzaSyBwFLFwO9udapbX2HwRR3d0d_rktkiG-pE</string>
	<key>GCM_SENDER_ID</key>
	<string>621011602853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callor.firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-app-55440</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-app-55440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621011602853:ios:55cb634e2d8eaced966c4c</string>
</dict>
</plist>